.container {
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-size: 32px;
}

button {
  border: none;
  background: none;
  font-size: 32px;
  color: #666;
  cursor: pointer;
}

button i.fa {
  /* change the color of the icon */
  color: white;
}


#text-input {
  margin-top: 20px;
  padding: 10px;
  /* font-size: 24px; */
  width: 400px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 3rem;
  border-color: gray;
}
@media (max-width: 450px) {
  #text-input {
    margin-top: 20px;
    padding: 8px;
    width: auto;
    margin-bottom: 20px;
  }
}
.hidden {
  display: none;
}

#processing-msg {
  margin-top: 20px;
  font-size: 24px;
}

#answer {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #3366cc;
}

#answer-box {
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  display: none; /* add this line */
}

.bottom-left{
  position: absolute;
  top: 200px;
  right: 150px;
  font-family: 'Times New Roman', Times, serif;

}
@media (min-width:720px) and (max-width: 780px) {
  .bottom-left{
    position: absolute;
    top: 200px;
    right: 100px;
    font-family: 'Times New Roman', Times, serif;
  
  }
}

@media (min-width:670px) and (max-width: 720px) {
  .bottom-left{
    position: absolute;
    top: 200px;
    right: 70px;
    font-family: 'Times New Roman', Times, serif;
  
  }
}
@media (max-width: 670px) {
  .bottom-left{
    position: inherit;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
  
  }
}
